In [29]:
from pymongo import MongoClient
mongo = MongoClient(port=27017)

In [30]:
print(mongo.list_database_names())

['admin', 'config', 'local', 'my_db']

In [31]:
my_first_db = mongo['my_db']

In [32]:
print(mongo.list_database_names())

['admin', 'config', 'local', 'my_db']

In [33]:
my_first_collection = my_first_db['my_collection']
my_db.list_collection_names()

NameError: name 'my_db' is not defined

In [42]:
my_first_collection.insert_one({'name': 'Mickey'})
my_first_collection.insert_one({'name':'Minnie', 'age': '90'})
goofy = {'_id':3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}

In [43]:
print(mongo.list_database_names())
print(my_db.list_collection_names())

['admin', 'config', 'local', 'my_db']

NameError: name 'my_db' is not defined

In [44]:
results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('6358a494d1939cc2a1848df5'), 'name': 'Mickey'}
{'_id': ObjectId('6358a5e4d1939cc2a1848df7'), 'name': 'Mickey'}
{'_id': ObjectId('6358a69fd1939cc2a1848df9'), 'name': 'Mickey'}
{'_id': ObjectId('6358a8e0d1939cc2a1848dfa'), 'name': 'Minnie', 'age': 90}
{'_id': ObjectId('6358aa24d1939cc2a1848dfb'), 'name': 'Mickey'}
{'_id': ObjectId('6358aa24d1939cc2a1848dfc'), 'name': 'Minnie', 'age': '90'}
{'_id': ObjectId('6358aa2fd1939cc2a1848dfd'), 'name': 'Mickey'}
{'_id': ObjectId('6358aa2fd1939cc2a1848dfe'), 'name': 'Minnie', 'age': '90'}

In [40]:
goofy = {'_id':3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}

In [46]:
animals = [{'name': 'Donald', 'species': 'duck'}, {'name': 'Daisy', 'species': 'duck'}]
my_first_collection.insert_many(animals)

In [47]:
results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('6358a494d1939cc2a1848df5'), 'name': 'Mickey'}
{'_id': ObjectId('6358a5e4d1939cc2a1848df7'), 'name': 'Mickey'}
{'_id': ObjectId('6358a69fd1939cc2a1848df9'), 'name': 'Mickey'}
{'_id': ObjectId('6358a8e0d1939cc2a1848dfa'), 'name': 'Minnie', 'age': 90}
{'_id': ObjectId('6358aa24d1939cc2a1848dfb'), 'name': 'Mickey'}
{'_id': ObjectId('6358aa24d1939cc2a1848dfc'), 'name': 'Minnie', 'age': '90'}
{'_id': ObjectId('6358aa2fd1939cc2a1848dfd'), 'name': 'Mickey'}
{'_id': ObjectId('6358aa2fd1939cc2a1848dfe'), 'name': 'Minnie', 'age': '90'}
{'_id': ObjectId('6358aab2d1939cc2a1848dff'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('6358aab2d1939cc2a1848e00'), 'name': 'Daisy', 'species': 'duck'}

In [48]:
 query = {'name': 'Donald'}
results = my_first_collection.find(query)
for result in results:
    print(result)

{'_id': ObjectId('6358aab2d1939cc2a1848dff'), 'name': 'Donald', 'species': 'duck'}

In [50]:
query = {'species': 'duck'}
results = my_first_collection.find(query)
[result for result in results]

[{'_id': ObjectId('6358aab2d1939cc2a1848dff'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('6358aab2d1939cc2a1848e00'),
  'name': 'Daisy',
  'species': 'duck'}]

In [49]:
query = {'age': {'$gt':85}}
results = my_first_collection.find(query)
[result for result in results]

[{'_id': ObjectId('6358a8e0d1939cc2a1848dfa'), 'name': 'Minnie', 'age': 90}]

In [51]:
query = {'age': {'$gt':88}}
results = my_first_collection.find(query)
[result for result in results]

[{'_id': ObjectId('6358a8e0d1939cc2a1848dfa'), 'name': 'Minnie', 'age': 90}]

In [54]:
query = {'age': {'$lt':88}}
results = my_first_collection.find(query)
[result for result in results]

[]

In [58]:
query = {'name': 'e'}
results = my_first_collection.find(query)
for result in results:
    print(result)

In [59]:
query = {'name': 'Mickey'}
update = {'$set': {'name': 'Mickey Mouse'}}
my_first_collection.update_one(query, update)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('6358a494d1939cc2a1848df5'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('6358a5e4d1939cc2a1848df7'), 'name': 'Mickey'},
 {'_id': ObjectId('6358a69fd1939cc2a1848df9'), 'name': 'Mickey'},
 {'_id': ObjectId('6358a8e0d1939cc2a1848dfa'), 'name': 'Minnie', 'age': 90},
 {'_id': ObjectId('6358aa24d1939cc2a1848dfb'), 'name': 'Mickey'},
 {'_id': ObjectId('6358aa24d1939cc2a1848dfc'), 'name': 'Minnie', 'age': '90'},
 {'_id': ObjectId('6358aa2fd1939cc2a1848dfd'), 'name': 'Mickey'},
 {'_id': ObjectId('6358aa2fd1939cc2a1848dfe'), 'name': 'Minnie', 'age': '90'},
 {'_id': ObjectId('6358aab2d1939cc2a1848dff'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('6358aab2d1939cc2a1848e00'),
  'name': 'Daisy',
  'species': 'duck'}]

In [60]:
query = {'name': 'Mickey Mouse'}
my_first_collection.delete_one(query)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('6358a5e4d1939cc2a1848df7'), 'name': 'Mickey'},
 {'_id': ObjectId('6358a69fd1939cc2a1848df9'), 'name': 'Mickey'},
 {'_id': ObjectId('6358a8e0d1939cc2a1848dfa'), 'name': 'Minnie', 'age': 90},
 {'_id': ObjectId('6358aa24d1939cc2a1848dfb'), 'name': 'Mickey'},
 {'_id': ObjectId('6358aa24d1939cc2a1848dfc'), 'name': 'Minnie', 'age': '90'},
 {'_id': ObjectId('6358aa2fd1939cc2a1848dfd'), 'name': 'Mickey'},
 {'_id': ObjectId('6358aa2fd1939cc2a1848dfe'), 'name': 'Minnie', 'age': '90'},
 {'_id': ObjectId('6358aab2d1939cc2a1848dff'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('6358aab2d1939cc2a1848e00'),
  'name': 'Daisy',
  'species': 'duck'}]

In [61]:
query = {'name': 'Mickey Mouse'}
my_first_collection.delete_one(query)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('6358a5e4d1939cc2a1848df7'), 'name': 'Mickey'},
 {'_id': ObjectId('6358a69fd1939cc2a1848df9'), 'name': 'Mickey'},
 {'_id': ObjectId('6358a8e0d1939cc2a1848dfa'), 'name': 'Minnie', 'age': 90},
 {'_id': ObjectId('6358aa24d1939cc2a1848dfb'), 'name': 'Mickey'},
 {'_id': ObjectId('6358aa24d1939cc2a1848dfc'), 'name': 'Minnie', 'age': '90'},
 {'_id': ObjectId('6358aa2fd1939cc2a1848dfd'), 'name': 'Mickey'},
 {'_id': ObjectId('6358aa2fd1939cc2a1848dfe'), 'name': 'Minnie', 'age': '90'},
 {'_id': ObjectId('6358aab2d1939cc2a1848dff'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('6358aab2d1939cc2a1848e00'),
  'name': 'Daisy',
  'species': 'duck'}]

In [63]:
query = {'species': 'duck'}
my_first_collection.delete_many(query)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('6358a5e4d1939cc2a1848df7'), 'name': 'Mickey'},
 {'_id': ObjectId('6358a69fd1939cc2a1848df9'), 'name': 'Mickey'},
 {'_id': ObjectId('6358a8e0d1939cc2a1848dfa'), 'name': 'Minnie', 'age': 90},
 {'_id': ObjectId('6358aa24d1939cc2a1848dfb'), 'name': 'Mickey'},
 {'_id': ObjectId('6358aa24d1939cc2a1848dfc'), 'name': 'Minnie', 'age': '90'},
 {'_id': ObjectId('6358aa2fd1939cc2a1848dfd'), 'name': 'Mickey'},
 {'_id': ObjectId('6358aa2fd1939cc2a1848dfe'), 'name': 'Minnie', 'age': '90'}]

In [65]:
mongo.drop_database('my_db')

In [66]:
mongo.list_database_names()

['admin', 'config', 'local']